<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleDrawer()">{{title}}
        </button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <drawer side="left">
    <ion-content>

      <ion-list>
        <ion-item drawer-close href="#/app/home" class="item-icon-left"><i class="icon ion-home"></i>
          Home
        </ion-item>
        <ion-item drawer-close href="#/app/browse" class="item-icon-left"><i class="icon ion-search"></i>
          Browse
        </ion-item>
        <ion-item drawer-close href="#/app/gallery" class="item-icon-left"><i class="icon ion-images"></i>
          Gallery
        </ion-item>
        <ion-item drawer-close href="#/app/doctors" class="item-icon-left"><i class="icon ion-person"></i>
          Our Doctors
        </ion-item>
        <ion-item drawer-close href="#/app/tour" ng-click="login()" class="item-icon-left"><i class="icon ion-gear-a"></i>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </drawer>
</ion-side-menus>
