<ion-view title="Welcome" id ="tour" hide-back-button="true" hide-nav-bar="true">
        <ion-slide-box>
              <ion-slide>
                      <span class="icon icon-slide ion-document-text"></span></a>
                       <h1 style="text-align: center;">Dentist Appointment Scheduler</h1>
                       <h1 style="text-align: center;">THIS APP IS STILL IN DEVELOPMENT!!!!!</h1>
              </ion-slide>
              <ion-slide>
                <span class="icon icon-slide ion-document-text"></span>
                <h1 style="color: #FFF;text-align: center;">Reserve your appointment</h1>
                   <p class="tagline">Book your dentist appointment.</p>
              </ion-slide>
              <ion-slide>
                <span class="icon icon-slide ion-calendar"></span>
                <h1 style="color: #FFF;text-align: center;">View calender</h1>
                   <p class="tagline">Pick a time that suits you.</p>
              </ion-slide>
        </ion-slide-box>
        <ion-footer-bar align-title="left" class="bar-clear">
            <h1 class="title"></h1>
                <div class="buttons" ng-click="login()">
                  <button class="button button-royal">Get Started</button>
                </div>
      </ion-footer-bar>
</ion-view>
